<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <label>
    Username:
    <input type="text" name="username" placeholder="coco75">
  </label>

  <label>
    Password:
    <input type="text" name="password" placeholder="This is a secret...">
  </label>

  <button>Sign Up</button>
</form>